// bower:scss
// endbower

* {
	margin: 0;
}
/*
	Variables 
*/
$font-raleway: Raleway, sans-serif;
$footer-height: 100px;
$black: #333333;
$gray: #555555;
$light-gray: #ababab;
$purple: #ff82ec;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?3whloo');
	src:url('../fonts/icomoon.eot?#iefix3whloo') format('embedded-opentype'),
		url('../fonts/icomoon.woff?3whloo') format('woff'),
		url('../fonts/icomoon.ttf?3whloo') format('truetype'),
		url('../fonts/icomoon.svg?3whloo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	font-size: 20px;
	line-height: 1;
	color: $black;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-close:before {
	content: "\e601";
}
/*
	Mixins
*/
@mixin small-text() {
	font-weight: 400;
	display: block;
	color: $gray;
}

@mixin font-size($sizeValue) {
	font-size: ($sizeValue/10) + px;
	font-size: ($sizeValue/10) + rem;
}

@function strip-unit($num) {
 	@return $num / ($num * 0 + 1);
}

/*
	@include rem-fallback(margin, 10, 20, 30, 40);

	margin: 160px 320px 480px 640px;
	margin: 10rem 20rem 30rem 40rem; 
*/
@mixin rem-fallback($property, $values...) {
	$max: length($values);
	$pxValues: '';
	$remValues: '';

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$pxValues: #{$pxValues + $value*16}px;

		@if $i < $max {
				$pxValues: #{$pxValues + " "};
			}
	} 

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$remValues: #{$remValues + $value}rem;

		@if $i < $max {
			$remValues: #{$remValues + " "};
		}
	} 

	#{$property}: $pxValues; 
	#{$property}: $remValues; 
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

html, body {
	height: 100%;
}

html {
	font-size: 62.5%;
	overflow: auto;
}

body {
	font-family: $font-raleway;
	text-rendering: optimizeLegibility;
	overflow: hidden;
	color: $light-gray;
}

a {
	text-decoration: none;
	color: $black;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5 {
	color: $gray;
	margin-top: 0;
}

h1 {
	@include font-size(46);
}

h2 {
	@include font-size(26);
}

h3 {
	@include font-size(18);
}

p {
	letter-spacing: 0.1px;
	font-weight: 300;
	@include font-size(15);
}

#sticky {
	margin-left: 7%;
	position: fixed;
}

.container-fluid {
	width: 980px;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	overflow: hidden;

	/* Negative indent footer by it's height */
	margin: 0 auto -$footer-height;

	.sidebar {
		background-color: $purple;
		
		nav {
			width: 100%;
			padding-left: 30px;
			margin-top: 65px;

			li {

				a {
					@include font-size(12);
					@include small-text();
					padding: 5px 0;
					color: #fff;
				}
		
				a:hover {
					text-decoration: underline;
					background-color: rgba(0,0,0,0) !important;
				}

				a:focus {
					background-color: rgba(0, 0, 0, 0);
				}

				a.activeSmall {
					color: #c04ce0;
				}	
			}
			
			li:last-child {
				margin-right: 0;
			}
		}

		footer {
			padding-left: 30px;
			margin-top: 50px;
			color: #fff;
			h3 {
				color: #fff;
				font-weight: 900;
			}
		}
	}
	
	/**
	 *  Main content wrapper
	 */
	#main {
		padding: 100px 0;
		background-color: #fff;

		.page-home {

			img {
				height: auto;
				width: 100%;
				display: block;
			}
		}	

		.page-about {
			
			.main-page {
				
				.row {
					margin-bottom: 65px;
				}
			}

			.pull-left {   
				h1 {
					margin-top: 0;			
				}
			}
			
			.profile {
				width: 150px;
				height: 150px;
				border: 3px solid #f1f1f1;
				border-radius: 1000px;
				margin: 0 auto;
				overflow: hidden;

				img {
					width: 80%;
					height: auto;
					margin-left: 12px;
				}
			}

			.short-bio {
				
				p {
					@include font-size(12);	
				}
				
			}
		}

		.page-project{
			
			h2 {
				margin-left: 30px;
			}

			.collection {
				li {
					padding: 30px;
					a {
						img {
							// width: 100%;
						}
					}
				}
			}	
		}

		
	} 
}

/* Custom page footer */
.push, .main-footer {
	height: $footer-height;
	clear: both;
}

.main-footer {
	position: relative;
	z-index: 99;
	background-color: #fff;
	
	.pull-right {
		text-align: right;
		padding: 0;
	}

	.pull-left {
		padding: 0;
	}

	li {
		@include font-size(12);
		@include small-text();
		span {

		}
	}
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 500px) {
	.header {
		.nav {
			li {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.page-about {
		.row {
			.pull-left {
				width: 100%;
			}
			.pull-right {
				width: 100%;
				text-align: center;
			}
		}
	}
}

.ng-enter {
	animation: moveFromRightFade 0.7s ease both;
	z-index: 8888;
}

/**
 *  Page transition
 */
@-webkit-keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}






