<div class="container main-page">
	<div class="row">
		<div class="pull-left col-xs-7"> 
			<h1 class="title">A little bit about myself</h1>
			<p>
				Jeehyun is a fashion designer, style consultant, merchandiser, and founder of women's contemporary designs "Jeehyun Lee." With a global talent of contemporary chic designs with the touch of feminine details and passion for fashion, Jeehyun was born in Seoul, graduated the University of British Columbia where she studied Economics and Theatre Design, and currently resides in Vancouver.
			</p>
			<p>
				Jeehyun has collaborated with a multiple set of designers and stylists over the years and launched her own line for the first time at the Vancouver Fashion Week of S/S 2014. Jeehyun is finishing her final diploma in fashion design at Blache Macdonald Centre this year.
			</p>
		</div>
		<div class="pull-right col-xs-3">
			<div>
				<img src="{{ profile.image }}">
			</div>
			<p><strong>Short bio</strong></p>
			<ul>
				<li>
					<p>Lives in:</p>
					<p>Vancouver</p>
				</li>
				<li>
					<p>Currently:</p>
					<p>Studying at Blache Macdonald Centre </p>
				</li>
			</ul>
		</div>
	</div>
</div>